@inherits LayoutComponentBase
@using fishportfolio.Data

@inject NavigationManager NavigationManager

<MudThemeProvider Theme="@_myTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="mx-3">Sav.io</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        @*NavMenu*@
        <MudNavMenu Color="Color.Secondary">
            @foreach (var navlink in _items)
            {
                <MudNavLink Match="NavLinkMatch.All" Icon="@navlink.Icon" Href="@navlink.Href">@navlink.Text</MudNavLink>
                <MudDivider/>
            }
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent>
        @*Banner*@
        <div class=".banner-container">
            <MudPaper Class="logo-seal mb-3 d-flex align-content-around" Width="100%" MaxHeight="400px" Height="60vw" Square="true" Style="background-image:url(./images/banner.jpg);
                background-position: center; background-repeat: no-repeat; background-size: cover; justify-content: center">
                <MudImage Src="./images/logo_seal.svg" ObjectPosition="ObjectPosition.Center"></MudImage>
            </MudPaper>
        </div>

        <MudText Class="my-2" Color="Color.Secondary" Align="Align.Center" Typo="Typo.h1">Greetings, traveler!</MudText>

        @*This should be only visible on desktop*@
        <MudHidden Breakpoint="Breakpoint.MdAndDown">
            <MudContainer Class="mb-3 d-flex justify-content-center  gap-4">
                <MudButtonGroup Color="Color.Secondary" Variant="Variant.Text">
                    <MudButton StartIcon="@Icons.Material.Filled.Home">Home</MudButton>
                    <MudButton StartIcon="@Icons.Filled.AutoAwesomeMosaic">Projects</MudButton>
                    <MudButton StartIcon="@Icons.Filled.Email">Contact</MudButton>
                </MudButtonGroup>
            </MudContainer>
        </MudHidden>

        <MudContainer MaxWidth="MaxWidth.False" Class="ma-0 pa-0 d-flex flex-column justify-space-between content-container">
            <MudContainer Class="ma-0 pa-0 d-flex justify-content-center flex-wrap" MaxWidth="MaxWidth.False">
                @Body
            </MudContainer>

            @*Footer*@
            <MudContainer Class="ma-0 pa-0" MaxWidth="MaxWidth.False">
                <MudDivider />
                <MudContainer Fixed=true>
                    <MudText Color="Color.Secondary" Align="Align.Center" Typo="Typo.body2">Copyright XOXO</MudText>
                </MudContainer>
            </MudContainer>
        </MudContainer>

    </MudMainContent>
</MudLayout>

<style>
    .logo-seal {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

@code {
    MyTheme _myTheme = new();
    Uri uri;
    public List<BreadcrumbItem> _activeItems { get; set; } 

    bool _drawerOpen = false;

    protected override async Task OnInitializedAsync()
    {
        _activeItems = _items.Where(x => x.Href == NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Segments[0]).ToList();
        uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        await base.OnInitializedAsync();
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Home", href: "/", icon: Icons.Material.Filled.Home),
        new BreadcrumbItem("Projects", href: "/projects/", icon: Icons.Filled.AutoAwesomeMosaic),
        new BreadcrumbItem("Pokemon of the day", href: "/pokemonoftheday/", disabled: true, icon: Icons.Filled.CatchingPokemon),
        new BreadcrumbItem("Contact", href: "/counter/", icon: Icons.Filled.Email),
        new BreadcrumbItem("Test", href: "/test/", icon: Icons.Filled.Accessible),
        new BreadcrumbItem("Foka", href: "/test/foka/", icon: Icons.Filled.AirlineSeatFlat),
        new BreadcrumbItem("Project Logo", href: "/projects/projectlogo/", icon: Icons.Filled.Book)
    };
}



@*<PageTitle>fishportfolio</PageTitle>


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@
